@font-face {
  font-family: Inter;
  src: url("./assets/font/Inter-VariableFont_opsz\,wght.ttf");
}
:root {
  --primary-text-color: #a1a1aa;
  --secondary-text-color: #ffffff;
  --bg-color: #09090b;
  --btn-stroke-color: #232629;
  --btn-bg-color: var(--bg-color);

  --desktop-font-size: 14px;
}
* {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  font-size: var(--desktop-font-size);
}
body {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  height: 100vh;
}
h1 {
  display: inline;
  font-size: 5rem;
  line-height: 77px;
  font-weight: 700;
  letter-spacing: -1.8px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  background: linear-gradient(
    135deg,
    var(--secondary-text-color) 0%,
    var(--primary-text-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
p {
  margin: 0;
  color: var(--primary-text-color);
}
a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.p-big {
  font-size: 1.4rem;
}
.p-md {
  font-size: 1.3rem;
}
header {
  height: 40px;
}
nav {
  height: 500px;
  background: radial-gradient(
    47.43% 102.37% at 50% 0%,
    #5eb0ef80 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 20px 40px 0 0;
  gap: 120px;
}
nav ul li {
  display: inline;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 0px;
  margin: 0 10%;
  gap: 20px;
}
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.social-links a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 9999px;
  border: 1px solid var(--btn-stroke-color);
  cursor: pointer;
  background-color: var(--bg-color);
}

i {
  display: block;
}
.arrow-down {
  background-image: url("./assets/svg/arrow-down.svg");
  width: 18px;
  height: 18px;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: #131d26;
  border-radius: 8px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.portfolio-item h2 {
  font-size: 1.5rem;
}
.portfolio-item a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
}
.portfolio-item a:hover {
  background-color: grey;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--secondary-text-color);
  width: 3rem;
  height: 3rem;
}
.github {
  -webkit-mask-image: url("./assets/svg/github.svg");
  mask-image: url("./assets/svg/github.svg");
}
.figma {
  -webkit-mask-image: url("./assets/svg/figma.svg");
  mask-image: url("./assets/svg/figma.svg");
}