@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-4xl sm:text-6xl font-bold text-gray-800;
    }
    h2 {
        @apply text-3xl font-bold text-gray-800;
      }
    .starfield {
        position: relative;
        background-color: black; 
        background-image: url(../Canvas.png); 
        background-size: cover; 
        background-repeat: repeat;
        background-position: center;
    }
    
    .button-text {
        @apply text-xl
    }

}